---
import { Image } from "astro:assets";
import halftone from "@/assets/widgets/halftone-photo.webp";
import postItMe from "@/assets/widgets/postit-me.svg";
---

<div
    class="relative shrink-0 motion-safe:transition-transform motion-safe:duration-150 motion-safe:ease-out motion-safe:hover:-rotate-6 pt-2 scale-105"
>
    <Image
        src={halftone}
        alt="Photo of Shreyas in Scuba dive suit, smiling"
        loading="eager"
        class="-rotate-3 h-34 w-40 rounded-sm bg-white object-cover p-1.25 shadow-[0_12px_30px_rgba(42,35,29,0.14),0_0_4px_rgba(122,122,122,0.18)]"
    />
    <div class="absolute -right-6 -bottom-12 -rotate-8 scale-[0.7]">
        <Image src={postItMe} alt="Post-it note saying Me!" />
    </div>
</div>
