---
import Navbar from "./Navbar.astro";

interface Props {
	currentPath: string;
	containerClass?: string;
	mainClass?: string;
}

const { currentPath, containerClass, mainClass } = Astro.props;
---

<div
    class:list={[
        "relative mx-auto flex min-h-dvh max-w-7xl flex-col px-5 pb-10 pt-4",
        containerClass,
    ]}
>
    <Navbar currentPath={currentPath} />

    <div class="mt-6 flex min-w-0 flex-1 gap-18">
        <slot name="sidebar" />

        <main id="main-content" class:list={["min-w-0 flex-1", mainClass]}>
            <slot />
        </main>
    </div>
</div>
